<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="/js/instascan.min.js"></script>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="preview-container">
		        <video id="preview" width="200" height="200"></video>
		    </div>
		</div>
	</div>
	<div class="form-group row">
    	<label for="staticEmail" class="col-sm-2 col-form-label">Evento</label>
    	<div class="col-sm-12">
      		<span id="evento"></span>&nbsp;<span id="status"></span>
      		<input type="hidden" id="evt_id" value=""/>
    	</div>
  	</div>  	
  	<div class="row">
  		<div class="col-sm-6">
   			<a th:href="@{/}" class="btn btn-block btn-primary" role="button" aria-disabled="true">Home</a>
	    </div>
   		<div class="col-sm-6">
   			<a href="#" class="btn btn-block btn-success disabled" role="button" aria-disabled="true" id="btn_checkin">Checkin</a>
	    </div>
	</div>
</div>
<script type="text/javascript" th:inline="javascript">
	var app = new Vue({
	    el: '#app',
	    data: {
	      scanner: null,
	      activeCameraId: null,
	      cameras: [],
	      scans: []
	    },
	    mounted: function () {
	      var self = this;
	      self.scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5 });
	      self.scanner.addListener('scan', function (content, image) {
	    	  if(content.indexOf("EVENT") >= 0) {
	    		  evt_info = content.split("|");
	    		  $("#evento").text(evt_info[2]);
	    		  $("#evt_id").val(evt_info[1]);
	    		  $("#btn_checkin").removeClass("disabled");
	    	  }
	      });
	      Instascan.Camera.getCameras().then(function (cameras) {
	        self.cameras = cameras;
	        if (cameras.length > 0) {
	          self.activeCameraId = cameras[0].id;
	          self.scanner.start(cameras[0]);
	        } else {
	          console.error('No cameras found.');
	        }
	      }).catch(function (e) {
	        console.error(e);
	      });
	    },
	    methods: {
	      formatName: function (name) {
	        return name || '(unknown)';
	      },
	      selectCamera: function (camera) {
	        this.activeCameraId = camera.id;
	        this.scanner.start(camera);
	      }
	    }
	  });
	
	$("#btn_checkin").click(function(evt) {
		if($("#btn_checkin").hasClass("disabled")) {
			evt.preventDefault();
			return false;
		}
		
		$.post("/checkin", { "id": $("#evt_id").val()}).done(function(ret) { 
			$("#status").text(ret); 
		});
		
		//location.href="/";
		
		return false;
	});
</script>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>